.footer{
    background: linear-gradient(to right, #182848, #4b6cb7); 
}
.footer-twit-image{
    height: 5vh;
    margin: 7px;
    margin-right: 15px;
    margin-left: 15px;
}
.footer-main{
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}